$c-white: #fff;
$c-creme-white: #f4f4f4;
$c-light-creme: #f7f7f7;


$c-black: #000;
$c-light-black: #202020;
$c-lighter-black: #454545;

$c-secondary-color: #872018;
$c-light-secondary-color: #610b04;

$c-facebook: #3b5998;
$c-linkedin:  #0e76a8;
$c-twitter: #00acee;