*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: $c-white;
  }
  body{
    @include font-base;
    font-family: $font-family-base;
    background-color: $c-light-black;
  }
  section{
    margin-bottom: $gutter * 4;
   
  }
  a{
    text-decoration: none;
  }
  ul li{
    list-style: none;
  }
  h6, h5, h4, h3, h2, h1, p,small{
    padding: 0;
    margin: 0;
  }
  .hide{
    display: none;
  }