
$gutter: 30px;
$gutter-small: 15px;

$show-home-img: true;
$home-img: url('../img/home_sec.jpg');
$portrait-img: url('../img/portrait.png');



@mixin l-sitewidth{
    margin: 0 250px;
    @media screen and (max-width: 1200px) {
        margin: 0 120px;
    }
    @media screen and (max-width: 750px) {
        margin: 0 30px;
    }
}

@mixin background {
    @if $show-home-img {
        &#bg-img{
            background-image: $home-img;
            background-attachment: fixed;
            background-size: cover;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background:rgba($c-light-black, .4) ;
                z-index: -1;
            }
        }
    }
}

@mixin transition-all{
    transition: all .4s ease-out;
}

// media query mixins
@mixin  mq-Desktop {
    @media screen and (min-width: 1171px){
        @content;
    }
}
@mixin  mq-aboveTablet {
    @media screen and (min-width: 769px) and (max-width: 750px){
        @content;
    }
}
@mixin  mq-Tablet {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin  mq-Mobile {
    @media screen and (max-width: 500px){
        @content;
    }
}


