
$gutter: 30px;
$gutter-small: 15px;

$show-home-img: true;
$home-img: url('../img/home_sec.jpg');
$portrait-img: url('../img/portrait.png');


@mixin l-sitewidth{
    @include mq-AboveDesktop{
        margin: 0 350px;
    }
    margin: 0 250px;
    @include mq-AboveTablet{
        margin: 0 120px;
    }
   @include mq-Tablet {
        margin: 0 15px;
    }
}
@mixin background {
    @if $show-home-img {
        &#bg-img{
            background-image: $home-img;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@mixin transition-all{
    transition: all .4s ease-out;
}

// media query mixins
@mixin mq-AboveDesktop{
    @media screen and (min-width: 1600px) {
        @content;
    }
}
@mixin  mq-Desktop {
    @media screen and (min-width: 1171px){
        @content;
    }
}
@mixin  mq-AboveTablet {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}
@mixin  mq-Tablet {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin  mq-Mobile {
    @media screen and (max-width: 500px){
        @content;
    }
}


