@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600;700&display=swap');
$font-base: "Oswald", Arial, sans-serif;
$font-text: "Anton", Arial, sans-serif;
$font-size: 14px;

$gutter: 30px;
$gutter-small: 15px;