body {
  @include background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  @include l-sitewidth;
  margin-top: 20vh;
  flex-grow: 1;
}

.proj-header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  pointer-events: none;
  color: $c-creme-white;
}
.header-content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
