footer{
    position: relative;
    width: 100%;   
    
}
.footer-section{
    @include font-s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 100px; 
    background-color: rgba($c-light-black, $alpha: .8);
    text-align: center;

}