.home {
   &-title {
        margin-top: 20vh;
        margin-bottom: $gutter;
    }
    &-section {
        
        margin-bottom: $gutter * 4;
       
        height: 70vh;
    }
    &-container{
        @include l-sitewidth;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: $gutter;
    }
}

.myData {
    @include font-s;
    min-width: fit-content;
    margin-top: auto;
    .describtion {
        margin-bottom: $gutter;
    }
    .my-cv {
        border: 1px solid #f4f4f4;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: $gutter-small;
        padding-top: $gutter-small;
        transition: all .4s ease-out;
        cursor: pointer;
        border-radius: 30px;
        font-weight: 300;
        cursor: pointer;
        text-align: center;
        &:hover {
            a {
                color: $c-secondary-color;
            }
            background-color: $c-light-black;
            border-color: $c-secondary-color;
        }
    }
}

.img-portrait {
    max-width: 200px;
}

.main-img {
    width: 80%;
    border-radius: 50%;
}

.brand-heading {
    @include font-xl;
    margin-bottom: $gutter;
    color: $c-creme-white;
}

.brand-describ {
    @include font-s;  
    color: $c-creme-white;
}

.icons {
    margin-top: $gutter;
}

.social-icons {
    i {
        padding-right: $gutter;
        &:hover {
            transition: all .4s ease-out;
            color: $c-secondary-color;
        }
    }
}

.secondary-text {
    color: $c-secondary-color;
}

.under-construction {
    margin: 50px;
    @include font-m;
    color: $c-secondary-color;
    text-align: center;
    text-decoration: underline;
}

// about me section styling 
.aboutme {
    background-color: $c-creme-white;
    text-align: center;
    &-container {
        @include l-sitewidth;
        padding-top: $gutter;
        padding-bottom: $gutter;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        padding: $gutter-small;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }
    &-about{
        text-align: left;
        margin-right: $gutter-small;
        min-width: 50%;
    }
    &-infos{
        min-width: 50%;
    }
    &-header {
        position: relative;
        padding-bottom: $gutter * 1.5;
        padding-top: $gutter-small;
        text-align: left;
        &:after {
            content: '';
            position: absolute;
            width: 65px;
            height: 2px;
            background-color: $c-light-black;
            bottom: 20%;
            transform: translate(0, 0);
        }
    }
    &-content {
        @include font-xs;
        padding-bottom: $gutter-small;
        &.table-info{
            display: flex;
            padding-right: $gutter;
            
        }
    }
    &-list{
        min-width: 40%;
        text-align: left;
        display: flex;
        flex-direction: column;
        li{
            color: $c-light-black;
        }
    }
    &-title, &-text{
        color: $c-light-black;
    }
    &-title{
        @include font-m;
    }
   
}


