
.content{
    @include l-sitewidth;
    .home-title{
        margin-top: 20vh;
        
    }
}
#home-page{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.personal-part{
  max-width: 50%;
}
.aboutme-part{
@include font-s;
max-width: 50%;
margin-top: auto;
.describtion{
margin-bottom: $gutter;
}
.my-cv{

}
}
.img-portrait{
    max-width: 200px;
}
.main-img{
    width: 80%;
    border-radius: 50%;
}
.brand-heading{
    @include font-xl;
    margin-bottom: $gutter;
    color: $c-creme-white;
 }
 .brand-describ{
     @include font-s;
     margin-bottom: $gutter;
    color: $c-creme-white;
 }
.icons{
    margin-top: $gutter;
}
.social-icons{
    i{
        padding-right: $gutter;
        &:hover{
            transition: color .3s ease-out;
        }
        &.fa-facebook:hover{
        color: $c-facebook;
        }
        &.fa-linkedin:hover{
        color: $c-twitter;
        }
        &.fa-twitter:hover{
        color: $c-linkedin;
        }
        &.fa-github:hover{
        color: $c-black;
        }
    }
}

.secondary-text{
    color: $c-secondary-color;
    
}

.under-construction{
    margin: 50px;
    @include font-m;
    color: $c-secondary-color;
    text-align: center;
    text-decoration: underline;
}