
@include  mq-Desktop {
}
@include  mq-AboveTablet {
    .content {text-align: center;
        .icons{
            display: flex;
            padding: $gutter-small;
            justify-content: space-evenly;
            margin-top: 0;
            .social-icons{
                i{
                    padding-right: 0;
                }
            }
        }
    }
    .home-section{
        // .home-container{
        //     flex-direction: column;
        //     align-items: center;
        // }
        // .personal-part{
        //     margin-bottom: $gutter;
        //     width: 100%;
        // }
        // .aboutme-part{
        //     width: auto;
        // }
    }
    .home-title{
        .brand-heading{
            @include font-l;
            font-weight: 500;
            margin-bottom: $gutter-small;
        }
    }
    .home-section, .aboutme{
        margin-bottom: $gutter * 2;
    }
}
@include  mq-Tablet {
    .content{
        text-align: center;
        .home-title{
            .brand-heading{
                @include font-m;
                margin-bottom: $gutter-small;
            }
            .brand-describ{
                @include font-s;
                margin-bottom: $gutter-small;
            }
        }
        .icons{
            display: flex;
            padding: $gutter-small;
            justify-content: space-evenly;
            margin-top: 0;
            .social-icons{
                i{
                    padding-right: 0;
                }
            }
        }
    }
    .home-section{
        .home-container{
        flex-direction: column;
        align-items: center;
        }
        .personal-part{
            margin-bottom: $gutter * 2.5;
            width: 100%;
        }
        .myData{
            width: auto;
        }
    }
    .aboutme{
        &-inner{
            flex-direction: column;
        }
        &-title{
            @include font-s;
            &:after{
                bottom: 10%;
            }
        }
    }
    
    .menu{
        visibility: hidden;
        flex-direction: column;
        &.show{
            visibility: visible;
            width: 100%;
        }
    }
    .menu-branding, .menu-nav{
        float: none;
        width: 100%;
        visibility: hidden;
        @include transition-all;
        &.show{
            visibility: visible;
            transform: translateX(0);
        }
    }
    .menu-nav{
        @include font-s;
        height: 65vh;
        transform: translateX(-100vw);
        &-item{
            @include transition-all;
        }
    }
    .menu-branding{
        height: 35vh;
        transform: translateX(100vw);
        .portrait{
            &-img{
            width: 150px;
            height: 150px;
            }
        }
    }
    
}
@include  mq-Mobile {
    .homt{
        &-container{
            &-personal-part{
                padding: 0;
            }
        }
    }
    .aboutme{
        &-container{
            padding: 0;
            margin: 0 auto;
        }
        &-inner{
            padding: $gutter-small;
        }
        &-about{
            margin-right: 0;
        }
        &-content{
            &.table-info{
                padding-right: 0;
            }
        }
        &-list{
            margin-right: 0;
        }
    }
}

