
 // menu overlay

 .menu{
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    visibility: visible;
    pointer-events: all;
    background-color: darken($c-light-black,5);
     &.show{
         visibility: visible; ;
     }

     &-branding, &-nav{
        pointer-events: all;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        // width: 50%;
        // height: 100vh;
        overflow: hidden;
     }

     &-nav{
       
         height: 70%;
        //  transform: translate3d(0, -100%, 0);
        // @include transition-all;
         &.show{
             // slide from top
            //  transform: translate3d(0,0,0);
         }
     }
     // branding side
     &-branding{
         height: 30%;
        //  transform: translate3d(0, 100%, 0);
        //  @include transition-all;
         &.show{
            // slide from bottom
            // transform: translate3d(0,0,0);
        }
        .portrait{
            .portrait-img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }
     }
     .menu-nav-item{
        //  transform: translate3d(800px, 0 , 0);
        //  @include transition-all;
        //  &.show{
        //      transform: translate3d(0,0,0);
        //  }
        //  &:last-child{
        //     .nav-link{
        //         padding-bottom: 0;
        //     }
        //  }
         &.current > a{
             color: $c-secondary-color;
         }

     }
     .nav-link{
         @include font-m;
         display: inline-block;
         position: relative;
         padding-bottom: $gutter;
         text-transform: uppercase;
         color: $c-creme-white;
         transition: color .4s ease-out;
         &:hover{
             color: $c-secondary-color;
         }
     }
 }

 @for $x from 1 through 4{
    .menu-nav-item:nth-child(#{$x}){
         transition-delay: $x * 0.1s;
     }
 } 