
.content{
    .home-title{
        margin-top: 20vh;
        
    }
}
.brand-heading{
    @include font-l;
    color: $c-creme-white;
 }
 .brand-describ{
     @include font-s;
    color: $c-creme-white;
 }
.icons{
    margin-top: $gutter;
}
.social-icons{
    i{
        padding-right: $gutter;
        &:hover{
            transition: color .3s ease-out;
        }
        &.fa-facebook:hover{
        color: $c-facebook;
        }
        &.fa-linkedin:hover{
        color: $c-twitter;
        }
        &.fa-twitter:hover{
        color: $c-linkedin;
        }
        &.fa-github:hover{
        color: $c-black;
        }
    }
}

#home-page{
    @include l-sitewidth;
}

.secondary-text{
    color: $c-secondary-color;
    
}

.under-construction{
    margin: 50px;
    font-size: 70px;
    color: $c-secondary-color;
    text-align: center;
    text-decoration: underline;
}