.proj-header{
 position: fixed;
 top: 0;
 z-index: 999;
 pointer-events: none;
}
.content{
    .home-title{
        margin-top: 20vh;
    }
}
.proj-nav{
    pointer-events: all;
}
.icons{
    margin-top: $gutter;
}
.social-icons{
    i{
        padding-right: $gutter;
        &:hover{
        color: $secondary-color;
        @include ease-out ;
    }
    }
}

#home-page{
    @include l-sitewidth;
}

.secondary-text{
    color: $secondary-color;
    
}

.under-construction{
    margin: 50px;
    color:  #666666;
}